.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.modal_content {
    background-color: #fefefe;
    width: 300px;
}

.modal_header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #000000;
    color: #FFFFFF;
}

.modal_body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_body p {
    font-size: 18px;
}

.modal_body div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    font-size: 24px;
    background: mediumseagreen;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: 40%;
    padding: 12px;
    margin-bottom: 24px;
}

.button_no {
    font-size: 24px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: 40%;
    padding: 12px;
    margin-bottom: 24px;
}