.title{
    text-align: center;
    line-height: 24px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.back {
    cursor: pointer;
}

.auth img {
    width: 25px;
    height: 25px;
}