.table {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.table .element {
    display: flex;
    padding: 6px 12px;
}

.table .element img {
    width: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.table .element p {
    margin: 0;
}

.table .element:nth-of-type(even) {
    background: #f3f3f3;
}

.form_market button {
    background-color: #000;
    border-radius: 1px;
    border: none;
    color: #fff;
    padding: 0.8rem 3.25rem;
}

.check_input {
    border: 1px solid tomato !important;
}

.form_market input,
.form_market textarea {
    border-radius: 3px;
    border: 0;
    margin-right: 1rem;
    padding: 0.8rem 1rem;
    width: 100%;
    border: 1px solid #aaa;
}

.form_market h6 {
    margin: 10px 0px;
}

.form_market .submit {
    margin: 20px 0px;
}

.check_p {
    color: tomato;
}
