.input {
    border-radius: 3px;
    border: 0;
    margin-right: 1rem;
    padding: 0.8rem 1rem;
    width: 100%;
    border: 1px solid #aaa;
}

.button {
    background-color: #000;
    border-radius: 1px;
    border: none;
    color: #fff;
    padding: 0.8rem 3.25rem;
    margin-top: 10px;
    width: 100%;
}